img[alt="Logo"] {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin-bottom: 5px;
}

#experience p {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

#experience .title-date {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}

#experience .company {
  color: #666;
  padding-left: 2px;
}



